@import '../../assets/styles/variables';

.goto-form {
  margin-top: 2vmin;

  .-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .-input {
      width: 100%;
      font-size: $modalFontSize;
    }
  }
}
