@import '../../assets/styles/variables';

.gameBoard {
  display: flex;
  flex-direction: column;
  width: calc(#{$cellSize} * 32);
  height: calc(#{$cellSize} * 20 + #{$panelHeight});
  user-select: none;

  .-grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(#{$cellSize} * 20);
    background-color: $black;

    .-static-canvas,
    .-stones-canvas,
    .-ball-canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(#{$cellSize} * 32);
      height: calc(#{$cellSize} * 20);
    }
  }

  .-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: $panelHeight;
    width: calc(100% - #{$cellSize} * 2);
    padding: 0 $cellSize;
    background-color: $black;
    color: $white;
    font-size: $baseFontSize;

    .-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 2;

      .-label {
        margin-right: 1vmin;
      }

      .-value {
        margin-right: 10vmin;
      }
    }

    .-goto,
    .-undo,
    .-help {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      width: $cellSize;
      height: $cellSize;
      margin-left: calc(#{$cellSize} / 2);
      color: $black;
      cursor: pointer;
      border-radius: 0.5vmin;

      &:before {
        text-align: center;
      }
    }

    .-goto {
      width: auto;
      padding: 0 calc(#{$cellSize} / 2);

      &:before {
        content: 'Go to...';
      }
    }

    .-undo {
      width: auto;
      padding: 0 calc(#{$cellSize} / 2);

      &:before {
        content: 'Undo';
      }
    }

    .-help:before {
      content: '?';
    }
  }
}
