@import './variables';

.gameBoard {
  display: flex;
  flex-direction: column;
  width: 128vmin;
  height: 90vmin;
  border-style: outset;
  border-color: $white $grey $grey $white;

  .-grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80vmin;
    background-color: $black;

    .-cell {
      width: $cellSize;
      height: $cellSize;
    }

    .-static-canvas,
    .-stones-canvas,
    .-ball-canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 128vmin;
      height: 80vmin;
    }
  }

  .-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vmin;
    width: calc(100% - 8vmin);
    padding: 0 $cellSize;
    background-color: $black;
    color: $white;
    font-size: $baseFontSize;

    .-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 2;

      .-label {
        margin-right: 1vmin;
      }

      .-value {
        margin-right: 10vmin;
      }
    }

    .-undo,
    .-help {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      width: $cellSize;
      height: $cellSize;
      margin-left: 2vmin;
      color: $black;
      cursor: pointer;
      border-radius: 0.5vmin;

      &:before {
        text-align: center;
      }
    }

    .-undo:before {
      content: '↺';
    }

    .-help:before {
      content: '?';
    }
  }
}
