@import 'variables';

.goto-form {
  .-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .-label {
      margin-right: 2vmin;
    }

    .-input {
      width: 100%;
      font-size: $modalFontSize;
    }
  }
}
